<div class="wrapper">
    <section class="no-parallax landing">
        <div class="description">
            <p>Nõmme Jaamarestoran Elsa tahab olla selge vanakooli söögiasutus. Oleme seadnud asjad nii,et meie majas on peategelaseks toit, mitte kokk.</p>
            <p>Valgete laudlinade, põlledega ettekandjate ja klassikaliste toitudega – menüüs on roogi ennesõjaaegsest vabariigi ajast, on vene ajast, on uhkeid ja vähem uhkeid roogi. Kuid ei mingeid kellasi ja vilesi, liigsest teatrist, kunstist ja teadusest rääkimata. </p>
            <p>Me tahame teha seda, mida me kõige paremini oskame: head ja ausat toitu.</p>
        </div>
        <img class="green" src="assets/green.webp">
        <img class="front" src="assets/klaver.png">
    </section>
    <section class="parallax liha">
    </section>
    <section class="no-parallax klaver">
        <div class="klaver_desc">
            <h1>Seminarid & Pidusöögid</h1>
            <hr width="100vh" size="1px" noshade>
            <h2>ELSA KLAVERISAAL</h2>
            <br>
            <br>
            <p>Elsa Klaverisaal on suurepärane koht privaatsete koosviibimiste tarbeks. Klaverisaalil on muust restoranist eraldi sissepääs jaamahoone perroonipoolsest küljest. Sisenemisel avaneb esmalt avar garderoob, saal ise on 70m2 suur ja saalis on töökorras kabinet-tiibklaver Blüthner ning Eesti Panga hoonest pärit Juhan Kukele kuulunud 4,5 m pikkune
                töölaud, mille taga kirjutati valmis Eesti Vabariigi Iseseisvusmanifesti alusteks. Lisades ümmargused lauad, mahub saali pidusööke nautima kuni 60 inimest.</p>
            <p>Kuna restoranisaal ja klaverisaal on erinevate sissepääsudega teineteisest helikindalt eraldatud ruumid, siis Klaverisaal on väga sobiv koht ka seminari-nõupidamise pidamiseks. Salasilm ei näe ja salakõrv ei kuule. Abiks pakume ekraaani, dataprojektorit, ja pabertahvlit.
                Meil valmis pakettmenüüsid ei ole – on ju iga peosüüdlane erinev, küll aga on meil pikk pidulike söömaaegade menüü ja nõnda koostame üheskoos just sobiva menüü igale peole eraldi.</p>
        </div>
        <img class="quad" src="assets/quad.webp">
    </section>
    <section class="parallax pidu">
        <div class="quote">
            <h1>“Šampanja tekitab tunde, et on pühapäev ja paremad päevad on peagi saabumas. ” </h1>
            <p>- Marlene Dietrich -</p>
        </div>
    </section>
    <section class="no-parallax history">
        <img class="history" src="assets/history.webp">
        <div class="history_desc">
            <h1>Nõmme jaamast ja restoranist</h1>
            <h2>LEHO LÕHMUSE ARTIKKEL,<br>avaldatud Nõmme Sõnumites 31. oktoobril 2014</h2>
            <hr width="100vh" size="1px" noshade>
            <p>Jaamas endas pole restorani või muud lõbustus- või söögikohta kunagi olnud. Siin on olnud kahel korral postkontor, telefoni keskjaam, lehekiosk, muuseum, politsei. Isegi raudteejaama ülesannet on see kunagi täitnud. Kuid restorani – mitte kunagi! Kui aga paneme mõttelise sirklinõela selle maja kohale ja tõmbame nii umbes paarisajameetrise ringi, siis sinna sisse jääb nii mõndagi.</p>
            <p>20. sajandi alul, kui valmis eelmine jaamahoone, olid selle läheduses vaid vana kõrts lihtinimeste ja Gustavsoni restoran peenema seltskonna jaoks. Üks ühel ja teine teisel pool Pärnu maanteed. 1909. aastal lisandus Nõmme Heakorra Seltsi seltsimaja Õie ja Rohelise tänava nurgal. Seal töötas ka puhvet. </p>
            <p>Kui ilm oli ilus, kaeti lauad tavaliselt aeda. Nii Gustavsoni restorani kui ka heakorra seltsi maja juures oli kõlakoda, kus suveõhtuti mängisid orkestrid. Restorani atraktsioonide juurde kuulus ka keeglirada. </p>
            <p>Kahe maailmasõja vahel toimus Nõmme restoranikultuuris tähelepanuväärne kvaliteedihüpe. Senised tegijad taandusid, kuid asemele tekkisid uued. 1924. aastal põles vana restorani hoone maha. 1933. aastal valmis vabanenud platsile uus moodne hoone (praegu Pärnu mnt 326), kus avati kino Victoria Palace ja dancingkabaree Maxim, mis pakkus igaõhtust programmi koos muusika ja tantsuga. Siin korraldati 1930. aastate teisel poolel linna koorekihi iga-aastased ballid ja linnavalitsuse vastuvõtud. Tantsusaalina kasutati kinosaali.</p>
            <p>1918. aastal asutati Pärnu maantee ja Männi tänava nurgale uus restoran. 1920. aastate teisel poolel ei suutnud see vastu pidada konkurentsis teise vastavatud restoraniga Silva, mis asus Männi ja Raudtee tänava nurgal. 1928. aastal tuli tegevus lõpetada ning hoone välja rentida. Kuni 1933. aastani paiknes seal Nõmme linnavalitsus koos allasutustega, hiljem Nõmme Majaomanike Seltsi klubi, kus kümnendi lõpul töötas jälle restoran. </p>
            <p>Silva restoranist kujunes aga Nõmme populaarne ajaviite- ja väljasõidukoht, kus oli võõrastemaja ja ka öölokaal. 1932. aastal valiti Silvas esimene Miss Nõmme – selleks sai neiu Benita Traks. 1937. aastal vahetas asutus omanikku ning sai tolleaegse traditsiooni kohaselt ka uue nime – Palais Royal. </p>
            <p>920.–30. aastatel alustasid Nõmmel tööd veel kaks restorani. Pritsimaja kõrval (praegune parkimisplats) asunud Tokio pakkus jaapanipäraseid toite ning nagu kurjad keeled rääkisid, ka «geišade» teenuseid. Teine restoran asus Nõmme jaama vastas Raudtee 11 ning kandis algselt Rooma väepealiku ja elunautleja auks nime Lucullus. Kõrvuti restoraniga tegutses siin ka kohvik. 1930. aastal, seoses jälle omaniku vahetusega, võeti uueks nimeks Talveaed. Otse jaama kõrval olevas majas avati aga einelaud. </p>
            <p>Tolleaegsete restoranide kvaliteedi indikaatoriks oli, nii kummaline kui see ka näib, Eesti kaitsevägi. Nimelt andis Tallinna garnisoni ülem igal aastal välja käskkirja, millistesse neist võis sõjaväelane vormis ilmuda ja millistesse mitte. Kindlal jah-poolel olid alati Maxim ja Talveaed, ei-poolel aga Tokio, jaama einelaud ja Nõmme restoran vana kõrtsi kohal. Silva figureeris kord ühel, kord teisel pool. Lisan siia, et Maximis ja Talveaias käisid koos ka Nõmme Rotary klubi liikmed. </p>
            <p>Pärast 1940. aastate sündmusi kogu see kultuur kadus. Talveaed, Tokio, majaomanike seltsi restoran ja Palace Royal läksid Punaarmee käsutusse ning nende esialgne funktsioon ei taastunud kunagi. Maximist sai miilitsakooli söökla, tööd jätkasid vaid Nõmme jaama einelaud ning 1950ndate keskel avas uuesti uksed Nõmme restoran.</p>
            <p>Einelaua hoone sai tulekahjus kannatada ning lammutati 1960ndate keskel.</p>
        </div>
    </section>
    <section id="bottom" class="no-parallax contact">
        <h1>Kontakt</h1>
        <h2>INFO@JAAMARESTORAN.EE / TEL: 56235167</h2>
        <hr width="100vh" size="1px" noshade>
        <p><a style="color: red;" href="assets/Asukoht.pdf">ASUKOHT JA PARKIMINE</a></p>
    </section>"
</div>