.footer {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #756f63;
    height: 8.4vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.schedule {
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: background-color 0.15s ease-out;
    line-height: 1vw;
}

.contact {
    line-height: 1vw;
    font-size: 0.8vw;
}

a {
    font-size: 0.8vw;
    line-height: 1vw;
    text-decoration: none;
    color: white;
}