<div class="footer">
    <div class="footer-content">
        <div class="schedule">TEISIPÄEV-NELJAPÄEV 12-22, REEDE-LAUPÄEV 12-23, PÜHAPÄEV 12-19</div>
        <div class="contact">©2016 Nõmme Jaamarestoran OÜ,&nbsp;&nbsp;Jaama 18, Nõmme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Broneerimine: 56235167&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Üritused: 56235166,&nbsp;&nbsp;<a href="mailto:info@jaamarestoran.ee">info@jaamarestoran.ee</a>, <a href="mailto:elsa@jaamarestoran.ee">elsa@jaamarestoran.ee</a></div>
        <a href="https://www.facebook.com/nommejaam">facebook.com/nommejaam</a>
    </div>
</div>
