<div class="wrapper">
    <div class="klaver_container">
        <div class="description">
            <h2>ELSA KLAVERISAAL</h2>
            <hr width="100vh" size="1px" noshade>
            <p>Elsa Klaverisaal on suurepärane koht privaatsete koosviibimiste korraldamise tarbeks.</p>
            <p>Klaverisaalil on muust restoranist eraldi sissepääs jaamahoone perroonipoolsest küljest, eraldi tualett ja garderoob. Pidusööki mahub saalis nautima kuni 60 inimest.</p>
            <p>Sisenemisel avaneb esmalt avar garderoob, saal ise on 70m2 suur ja saalis on töökorras kabinet- tiibklaver Blüthner ning Eesti Panga hoonest pärit Juhan Kukele kuulunud 4,5 m pikkune töölaud, mille taga kirjutati valmis Eesti Vabariigi Iseseisvusmanifesti alustekst.</p>
            <p>Kuna Elsa restoranisaal ja klaverisaal on erinevate sissepääsudega teineteisest helikindalt eraldatud ruumid, siis Klaverisaal on väga sobiv koht lisaks pidulike söömaaegade korraldamisele, ka seminari-nõupidamise pidamiseks. Salasilm ei näe ja salakõrv ei kuule.</p>
            <p>Abiks pakume ka vajadusel seminaritehnikat.</p>
            <p>Meil on suuremate pidusöökide korraldamiseks erimenüü ja nõnda koostame üheskoos kliendiga sobiva menüü just igale üritusele eraldi. Küsi pakkumist meie kodulehe kaudu või elsa@jaamarestoran.ee. Lisainfo ürituste korraldamise kohta telefonil 5623 5166.</p>
        </div>
        <img src="assets\klaverisaal.bmp" alt="Klaverisaal" class="klaverisaal">
    </div>
</div>