<div class="wrapper">
    <div class="klaver_container">
        <div class="description">
            <h2>MÕRVAMÜSTEERIUM ELSA KLAVERISAALIS</h2>
            <hr width="100vh" size="1px" noshade>
            <p>Põnev ja kaasakiskuv salongiõhtu, mis annab võimaluse sukelduda 1930. aasta Eesti kõrgseltskonna ellu. Tegemist on meeliköitva seltskonnamänguga, mis viib teid fantaasiamaailma, kus saate kogeda emotsioone ja seiklusi, mida argielu ei paku. Kas see roll on salapärane, glamuurne või kriminaalne, selles on oma sõna öelda saatusel!</p>
            <p>On aasta 1931. Ülemaailmne majanduskriis on jõudnud Eestisse, kuid kõrgseltskond elab endiselt priiskavat ja lõbusat elu.
                Õdusas ja nooblis restoranis Nõmme jaamahoones võtab külalisi vastu auväärne kindral Otto Taalberg, kelle südameasjaks on Eesti Vabariigi julgeolek ning tema enda perekonna heaolu.  Täna on siia kogunenud kõige jõukamad ja mõjukamad härrad ja prouad. Kahjuks on seltskonnas ka nii mõnigi persoon, kelle osavõtu üle kõrgeauline kindral heameelt ei tunne.
                Õhtu edenedes ilmneb, et mitmel pealtnäha suursugusel külalisel on hingel räpane saladus. Kõik see viib lõpuks mõrvani! Just teil tuleb välja selgitada, kes on mõrvar ja mis on mõrva motiiv. Algab mõrvajuurdlus…</p>
            <p>Õhtusöök ja rollimäng toimuvad üheaegselt ning seltskond on rollides kogu õhtusöögi vältel. Iga osaleja panusest sõltub, milliseks kujuneb õhtu! Mängu viivad läbi kompetentsed ja leidlikud mängujuhid.</p>
            <p>Selleks, et õhtu oleks veelgi põnevam ja saaksime selle kujundada täpselt vastavalt osalejatele, palume teil teada anda, kas õhtusöögist võtab osa mees või naine.</p>
            <p>Riietus: pidulik.</p>
            <p>Privaatsed müsteeriumid<br>
                Müsteeriumiga pidusööki on võimalik tellida ka Teile sobival kuupäeval ja kellaajal privaatselt oma seltskonnale nii sünnipäeva tähistamiseks, firmapeoks või ka lihtsalt mõnusaks ja eriliseks õhtuseks koosolemiseks. Valida saab erinevate teemade vahel: Eesti 1931, Londoni kõrgseltskond või Maffia möödunud sajandi 90.aastatel. Et pidu saaks huvitav ja mäng täiuslik, siis peaks osalejaid olema vähemalt kümme.<br>
                Õhtusöögi menüü koostame vastavalt teie soovidele.</p>
            <p>Mõrvamüsteeriumi korraldab <a href="https://www.mysteerium.ee" style="text-decoration: underline #756f63 1; color: #756f63;">mysteerium.ee</a>, Katrin Luts.</p>
        </div>
        <img src="assets\collage.png" alt="Klaverisaal" class="klaverisaal">
    </div>
</div>