<div class="nav">
    <div class="nav_logo">
        <img src="assets/nav_logo.webp" alt="Logo">
    </div>
    <div class="nav_links">
        <a routerLink="/menyyd" routerLinkActive="active-link">MENÜÜD</a>
        <a routerLink="/klaver" routerLinkActive="active-link">KLAVERISAAL</a>
        <a routerLink="/morv" routerLinkActive="active-link">MÕRVAMÜSTEERIUM</a>
        <a routerLink="/meist" routerLinkActive="active-link">MEIST</a>
        <a routerLink="/kontakt" routerLinkActive="active-link">KONTAKT</a>
    </div>
    <div class="facebook_link">
        <a href="https://www.facebook.com/nommejaam" target="_blank">
            <img src="assets/facebook.png" alt="Facebook">
        </a>
    </div>
</div>
