.nav {
    display: flex;
    align-items: center;
    background-color: rgba(24, 22, 18, 0.8);
    height: 8.4vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav_logo {
    z-index: 3;
    margin-left: 6vh;
    margin-right: 4vh;
    width: auto;
    height: auto;
}

.nav_logo img {
    width: 20vh;
    height: auto;
}

.facebook_link img{
    z-index: 3;
    margin-left: 13vh;
    margin-right: 6vh;
    width: 6vh;
    height: auto;
}

.nav_links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links a {
    padding: 30px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    transition: background-color 0.15s ease-out;
}

.nav_links a:hover {
    background-color: rgba(75, 75, 75, 0.8);
}

div {
  font-family: 'Times New Roman', Times, serif;
}
