.wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('src/assets/supp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; /* Prevent content overflow */
  }
  
  .menu_wrapper {
    margin-top: auto;
    padding-top: 8.4vh;
    height: calc(100vh - 8.4vh); /* Adjust the height to leave space for the header */
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
    overflow-y: auto; /* Enable vertical scrolling for .menu_wrapper */
    padding-bottom: 8.4vh;
  }
  
  .menu_container {
    width: 100%; /* Set the width of .menu_container to 100% */
  }
  