<div class="wrapper">
    <header>
        <img class="background" src="assets/supp_cropped.webp" alt="supp" style="width:100%;height:100%;">
        <div class="menu_container">
            <h2>Meie igap&auml;evane men&uuml;&uuml;</h2>

<p>LAUABRONEERINGUID saab teha telefonil 56235167,</p>

<p><a href="mailto:elsa@jaamarestoran.ee">elsa@jaamarestoran.ee</a> v&otilde;i meie kodulehe kaudu.</p>

<p>P&auml;evapakkumised</p>

<p>T-R 12.00-15.00</p>

<p>​</p>

<p>Supp 3.50&euro;</p>

<p>Praad 5.90&euro;</p>

<p>Info p&auml;evapakkumiste kohta Facebookis.</p>

<p>​</p>

<p>Eelroad</p>

<p>​</p>

<p>FORELLIMARI, pliinid, &scaron;alottsibul, vutimuna, wakame, hapukoor</p>

<p>12.00</p>

<p><br />
BOEF A LA TARTAR:</p>

<p>veisesisefilee, vutimuna, punane sibul, kapparid, kilud, kaste, praesaiad</p>

<p>10.50</p>

<p><br />
KANASALAT:</p>

<p>kanafilee, kitsejuustkreem, tomat, kurk, paprika, granaat&otilde;un, porru, maasikas, oliiv, roheline salat</p>

<p>8.90</p>

<p><br />
PRAETUD KANAMAKS, rohke sibula ja pipraga</p>

<p>8.90</p>

<p><br />
MOZZARELLASALAT:</p>

<p>ahjus k&uuml;psetatud juust, tomatid, suvik&otilde;rvits, k&uuml;&uuml;slauk, sibul, basiilik</p>

<p>8.50</p>

<p><br />
HEERINGALAKS:</p>

<p>2cl viina, heeringas, kartul, sibul, hapukoor</p>

<p>8.50</p>

<p><br />
BATAADIFRIIKAD peedihummusega</p>

<p>5.50</p>

<p><br />
VEINIK&Otilde;RVANE:</p>

<p>kanamaksapatee, kikerhernehummus, kitsejuustu-peedivaht, kreekerid, leiva&otilde;hikud</p>

<p>9.50</p>

<p><br />
KALAMATA OLIIVID veini juurde</p>

<p>5.00</p>

<p><br />
Supid</p>

<p><br />
BOR&Scaron; hapukapsa ja veiselihaga</p>

<p>6.50</p>

<p>​</p>

<p>MUSKAATK&Otilde;RVITSASUPP r&ouml;stitud k&otilde;rvitsaseemnete ja kr&otilde;beda peekoniga</p>

<p>6.50</p>

<p>​</p>

<p>&nbsp;</p>

<p>Praed</p>

<p>​</p>

<p>LAMBAPRAAD, rohelised oad, lillkapsas, k&uuml;psek&uuml;&uuml;slauk ja -tomat, ahjukartul, madeirakaste</p>

<p>19.00</p>

<p><br />
PARDIFILEE, praetud portobellod filotaignas, kr&otilde;bekartul, lehtkapsas, v&uuml;rtsiploomid, punaveinikaste</p>

<p>18.00</p>

<p><br />
AHJUKALKUN apelsinikastmega, ahju&otilde;unad ja-kartulid, punane sibul, rooskapsad, porgandid, pohlad</p>

<p>16.00</p>

<p><br />
KIIEVI KOTLET v&auml;ikese kondiga, v&auml;rske k&ouml;&ouml;givili, ahjukartul, kaste</p>

<p>17.00</p>

<p><br />
KULD-MERIKOGER, bataadi-sellerikreem, porgand, lillkapsas, spargel, brokoli, kale, rooskapsas, sidrun</p>

<p>17.00</p>

<p><br />
L&Otilde;HEPELMEENID v&otilde;i-sidrunikastmes, tomatid, basiilika</p>

<p>15.00</p>

<p><br />
Lastele</p>

<p>&nbsp;</p>

<p>KANANUKITSAD salati ja friikartulitega, kaste</p>

<p>8.90</p>

<p><br />
Magustoit</p>

<p>&nbsp;</p>

<p>KUUM &Scaron;OKOLAADIKOOK apelsinisorbeega</p>

<p>6.50</p>

<p><br />
KR&Otilde;BE NAPOLEONI KOOK marjadega</p>

<p>6.50</p>

<p><br />
ELSA SEGADIK, maasikad, mustikad, amarettokreem, jogurtikreem, j&auml;&auml;tis, besee, mandlik&uuml;psis</p>

<p>6.50</p>

<p><br />
SIDRUNI-HALVAAJ&Auml;&Auml;TIS, karamellikastmega</p>

<p>6.00</p>

<p><br />
RABARBERI-&Otilde;UNAKR&Otilde;BEDIK vaniljej&auml;&auml;tisega</p>

<p>6.00</p>

<p><br />
J&Auml;&Auml;TISEKOKTEIL ploomimahlaga</p>

<p>5.00</p>

        </div>
    </header>
</div>